* {
    box-sizing: border-box;
}
body {
    font-family: "Epilogue";
    
}
span, p, h5 {
    font-weight: 400;
}
h1, h3 {
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    margin-bottom: 56px;
    padding-left: 16px;
    padding-right: 16px;
}
.header_button {
    width: 182px;
    height: 48px;
    background-color: #ffff;
    border-color: rgba(23, 35, 57, 1);
    border-radius: 6px;
    border: solid 1px;
}
.header_button h1 {
    font-size: 14px;
    color: rgba(23, 35, 57, 1);
}
.header_logo {
    height: 32px;
    width: 81px;
    align-self: center;
}
.container_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 55.68px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}
.tablet_img {
    display: none;
}
.cont1_line {
    width: 151.47px;
    margin-bottom: 8.32px;
    margin-left: 154.5px;
}
.cont1_text h1 {
    font-size: 38px;
    color: rgba(23, 35, 57, 1);
    line-height: 44px;
    letter-spacing: -0.53px;
    margin-bottom: 32px;
}
.cont1_text p {
    font-size: 16px;
    color: rgba(73, 86, 109, 1);
    line-height: 28px;
    letter-spacing: 0.09px;
    margin-bottom: 32px;
    width: 343px;
}
.cont1_button {
    background-color: rgba(23, 35, 57, 1);
    color: white;
    width: 256px;
    height: 61px;
    border: none;
    border-radius: 6px;
}
.cont1_button h3 {
    font-size: 18px;
}
.background_img1 {
    margin-bottom: 56px;
    padding-left: 16px;
    padding-right: 16px;
}
.container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 230px;
}
.container_2 h1 {
    font-size: 48px;
    line-height: 56px;
    color: rgba(23, 35, 57, 1);
}
.container_2 p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: rgba(73, 86, 109, 1);
}
.tex_p {
    margin-bottom: 32px;
}
.container_3 {
    background-color: rgba(23, 35, 57, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;  
    padding-left: 16px;
    padding-right: 16px;
}
.cont3_logo_div {
    display: flex;
    justify-content: center;
}
.blur {
    width: 300px;
    justify-self: start;
    display: none;
}
.mobile_img {
    position: absolute;
    top: -175px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 252px;
    height: 402px; 
    display: inline;
}
.cont3_logo {
    margin-top: 261px;
    width: 50px;
}
.cont3_text {
    text-align: center;
    padding-bottom: 64px;
}
.cont3_text h1 {
    font-size: 40px;
    color: white;
    letter-spacing: -0.42px;
    line-height: 48px;
    margin-bottom: 40px;
    margin-top: 37px;
}
.cont3_text p {
    color: rgba(243, 237, 231, 1);
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    margin-bottom: 40px;
}
.cont3_text h3 {
    font-size: 18px;
    line-height: 32px;
    color: white;
    letter-spacing: -0.18px;
}
.cont3_text h5 {
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 26px;
    color: rgba(243, 237, 231, 1);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3EDE7;
    padding-bottom: 80px;
}
.footer_logo {
    margin-top: 56px;
    margin-bottom: 33px;
}
footer p {
    font-size: 15px;
    color: #49566D;
    letter-spacing: 0.08px;
    margin-bottom: 35px;
}
.footer_social {
    display: flex;
    gap: 28px;
}
/* tablet size *//* tablet size *//* tablet size *//* tablet size */
@media (min-width: 768px) {
    header {
        padding-top: 52px;
        margin-bottom: 122px;
        padding-left: 39px;
        padding-right: 40px;
    }
    .header_button {
        width: 219px;
        height: 56px;
    }
    .container_1 {
        margin-bottom: 128px;
        padding-left: 39px;
        padding-right: 116px;
        align-items: start;
        position: relative; 
        width: 768px;
    }
    .tablet_img {
        display: inline;
        width: 281px;
        height: 482px;
        position: absolute;
        right: 40px;
        top: -40px;
        z-index: 0;
    }
    .background_img1 {
        display: none;
    }
    .cont1_line {
        width: 231px;
        margin-bottom: 16px;
        margin-left: 220px;
        z-index: 1;
    }
    .cont1_text {
        z-index: 1;
    }
    .cont1_text h1 {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.78px;
        margin-bottom: 40px;
        width: 500px;
    }
    .cont1_text p {
        margin-bottom: 40px;
    }
    .cont1_button {
        background-color: rgba(23, 35, 57, 1);
        color: white;
        width: 256px;
        height: 61px;
        border: none;
        border-radius: 6px;
    }
    .cont1_button h3 {
        font-size: 18px;
    }
    .container_2 {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 493px;
    }
    .cont2_1 {
        width: 223px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cont2_1 p {
        margin: 0;
    }
    .container_3 {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        bottom: 0px;
    }
    .blur {
        width: 350px;
        height: 250px;
        justify-self: start;
        display: inline;
    }
    .cont3_logo {
        margin-top: 40px;
        width: 50px;
    }
    .cont3_text p {
        width: 573px;
    }
    footer {
        flex-direction: row;
        width: 100%;
        padding-left: 39px;
        padding-right: 40px;
        justify-content: space-between;
        padding-bottom: 72px;
        padding-top: 72px;
        height: 640px;
        align-items: flex-end;
    }
    footer p {
        margin: 0;
        
    }
    .footer_logo {
        margin: 0;
    }











}

