* {
    box-sizing: border-box;
}
body {
    font-family: "Epilogue";
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
span, p, h5 {
    font-weight: 400;
}
h1, h3 {
    font-weight: 700;
}

header {
    display: flex;
    gap: 80px;
    padding-top: 24px;
    margin-bottom: 56px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    justify-content: center;
}
.header_button {
    width: 182px;
    height: 48px;
    background-color: #ffff;
    border-color: rgba(23, 35, 57, 1);
    border-radius: 6px;
    border: solid 1px;
}
.header_button h1 {
    font-size: 14px;
    color: rgba(23, 35, 57, 1);
}
.header_logo {
    height: 32px;
    width: 81px;
    align-self: center;
}
.container_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 55.68px;
    align-items: center;
}
.tablet_img {
    display: none;
}
.cont1_line {
    width: 151.47px;
    height: 19px;
    margin-bottom: 8.32px;
    margin-left: 120px;
}
.cont1_text h1 {
    font-size: 38px;
    color: rgba(23, 35, 57, 1);
    line-height: 44px;
    letter-spacing: -0.53px;
    margin-bottom: 32px;
    max-width: 343px;
}
.cont1_text p {
    font-size: 16px;
    color: rgba(73, 86, 109, 1);
    line-height: 28px;
    letter-spacing: 0.09px;
    margin-bottom: 32px;
    width: 343px;
}
.cont1_button {
    background-color: rgba(23, 35, 57, 1);
    color: white;
    width: 256px;
    height: 61px;
    border: none;
    border-radius: 6px;
    margin-bottom: 55px;
}
.cont1_button h3 {
    font-size: 18px;
}
.background_img1 {
    margin-bottom: 56px;
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
}
.container_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 230px;
}
.container_2 h1 {
    font-size: 48px;
    line-height: 56px;
    color: rgba(23, 35, 57, 1);
}
.container_2 p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: rgba(73, 86, 109, 1);
}
.tex_p {
    margin-bottom: 32px;
}
.container_3 {
    background-color: rgba(23, 35, 57, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;  
    padding-left: 16px;
    padding-right: 16px;
}
.cont3_logo_div {
    display: flex;
    justify-content: center;
}
.blur {
    width: 300px;
    justify-self: start;
    display: none;
}
.mobile_img {
    position: absolute;
    top: -175px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 252px;
    height: 402px; 
    display: inline;
}
.cont3_logo {
    margin-top: 261px;
    width: 50px;
}
.cont3_text {
    text-align: center;
    padding-bottom: 64px;
}
.cont3_text h1 {
    font-size: 40px;
    color: white;
    letter-spacing: -0.42px;
    line-height: 48px;
    margin-bottom: 40px;
    margin-top: 37px;
}
.cont3_text p {
    color: rgba(243, 237, 231, 1);
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
    margin-bottom: 40px;
}
.cont3_text h3 {
    font-size: 18px;
    line-height: 32px;
    color: white;
    letter-spacing: -0.18px;
}
.cont3_text h5 {
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 26px;
    color: rgba(243, 237, 231, 1);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3EDE7;
    padding-bottom: 80px;
    width: 100%;
}
.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    
}
.footer_content p {
    font-size: 15px;
    color: #49566D;
    letter-spacing: 0.08px;
    margin-bottom: 35px;
}
.footer_logo {
    margin-bottom: 33px;
}
.footer_social {
    display: flex;
    gap: 28px;
}
/* tablet size *//* tablet size *//* tablet size *//* tablet size */
@media (min-width: 768px) {
    header {
        gap: 389px;
        padding-top: 52px;
        margin-bottom: 122px;
        padding-left: 39px;
        padding-right: 40px;
        width: 100%;
    }
    .header_button {
        width: 219px;
        height: 56px;
    }
    .container_1 {
        margin-bottom: 128px;
        padding-left: 39px;
        padding-right: 116px;
        align-items: start;
        position: relative; 
        width: 768px;
        justify-self: center;
    }
    .tablet_img {
        display: inline;
        width: 281px;
        height: 482px;
        position: absolute;
        right: 40px;
        top: -40px;
        z-index: 0;
    }
    .background_img1 {
        display: none;
    }
    .cont1_line {
        width: 231px;
        margin-bottom: 16px;
        margin-left: 230px;
        z-index: 1;
    }
    .cont1_text {
        z-index: 1;
    }
    .cont1_text h1 {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.78px;
        margin-bottom: 40px;
        max-width: 500px;
    }
    .cont1_text p {
        margin-bottom: 40px;
    }
    .cont1_button {
        background-color: rgba(23, 35, 57, 1);
        color: white;
        width: 256px;
        height: 61px;
        border: none;
        border-radius: 6px;
    }
    .cont1_button h3 {
        font-size: 18px;
    }
    .container_2 {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 493px;
    }
    .cont2_1 {
        width: 223px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cont2_1 p {
        margin: 0;
    }
    .container_3 {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        bottom: 176px;
        width: 689px;
    }
    .blur {
        width: 350px;
        height: 250px;
        justify-self: start;
        display: inline;
    }
    .cont3_logo {
        margin-top: 40px;
        width: 50px;
    }
    .cont3_text p {
        width: 573px;
    }
    footer {
        flex-direction: row;
        width: 100%;
        padding-left: 39px;
        padding-right: 40px;
        justify-content: center;
        padding-bottom: 72px;
        padding-top: 72px;
        height: 640px;
        align-items: flex-end;
        position: relative;
    }
    .footer_content {
        flex-direction: row;
        justify-content: space-between;
        width: 689px;
        
    }
    .footer_content p {
        margin: 0;
    }
   
    .footer_logo {
        margin: 0;
    }

}
    @media (min-width: 1440px) {
        body {
            align-items: start;
        }
        header {
            gap: 810px;
            padding-right: 165px;
            padding-left: 165px;
            margin-bottom: 188px;
        }
        .container_1 {
            margin-bottom: 551px;
            padding-left: 0;
            padding-right: 0;
            margin-right: 200px;
            margin-bottom: 550px;
        }
        .cont1_line {
           width: 287px; 
           margin-left: 290px;
        }
        .cont1_text h1 {
            font-size: 72px;
            line-height: 78px;
            letter-spacing: -0.78px;
            margin-bottom: 40px;
            max-width: 635px;
        }
        .cont1_text p {
            width: 350px;
            font-size: 18px;
            line-height: 32px;
        }
        main {
            display: flex;
            padding-left: 165px;  
            justify-content: center;
            align-self: center;
        }
        .container_2 {
            flex-direction: column;
            gap: 63px;
            justify-content: start;
            height: 600px;
            margin-bottom: 0;
        }
        .cont2_1 {
            display: flex;
            align-items: flex-start;
            text-align: justify;
        }
        
        .tablet_img {
            width: 350px;
            height: 600px;
            right: -55px;
            top: -50px;
        }
        .container_3 {
            width: 1109px;
            height: 545px;
            display: flex;
            flex-direction: row;
            padding-right: 125px;
            padding-left: 0;
            justify-content: flex-end;
            bottom: 199px;
        }
        .cont3_text {
            text-align: justify;
        }
        .cont3_text h1 {
            margin-top: 0;
            letter-spacing: -0.5px;
            margin-top: 88px;
        }
        .cont3_text p {
            width: 350px;
            line-height: 35px;
            font-size: 20px;
        }
        footer {
            height: 464px;
            padding-right: 165px;
            padding-left: 167px;
        }
        .line2_div {
            height: 200px;
        }
        .cont3_logo {
            margin-right: 52px;
            width: 64px;
            margin-top: 0;
        }
        .blur {
            width: 500px;
            height: 500px;
            position: absolute;
            left: 40px;
            bottom: -100px;
        }
        .mobile_img {
            top: -55px;
            left: -550px;
            width: 375px;
            height: 600px; 
        }
        .footer_content {
            width: 1109px;
        }
        .header_button:hover {
            cursor: pointer;
            background-color: #172339;
            
        }
        .header_button h1:hover {
            color: #FAF8F6;
        }
        .cont1_button:hover {
            cursor: pointer;
            background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
        }
        .social_logo:hover path {
            cursor: pointer;
            background: #172339;
            mix-blend-mode: normal;
            opacity: 0.5;
        }

















    }













